<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>微信</string>
		<key>size</key>
		<array>
			<string>28</string>
			<integer>108</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>豆瓣</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>易信</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>开心网</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>人人网</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>48</integer>
			<integer>75</integer>
			<integer>100</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ好友</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ空间</string>
		<key>size</key>
		<array>
			<string>16</string>
			<integer>50</integer>
			<integer>64</integer>
			<integer>75</integer>
			<integer>114</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>新浪微博</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>网易微博</string>
		<key>size</key>
		<array>
			<integer>80</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯微博</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>搜狐微博</string>
		<key>size</key>
		<array>
			<integer>48</integer>
			<integer>75</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>印象笔记</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>有道云笔记</string>
		<key>size</key>
		<array>
			<integer>60</integer>
			<integer>177</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>twitter</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>facebook</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pocket</string>
		<key>size</key>
		<array>
			<integer>128</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>linkedIn</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Instapaper</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Google+</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pinterest</string>
		<key>size</key>
		<array>
			<integer>16</integer>
			<integer>80</integer>
			<integer>120</integer>
		</array>
	</dict>
</array>
</plist>
